<%- include("templates/headers") %>
<head>
  <style>
    .bordered-column {
      border-width: 13px;
      padding: 15px;
    }

    .uniform-image {
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin: auto;
    }
  </style>
</head>
<div class="container-fluid">
  <h1>Welcome to the Member's Area, <%= username %>!</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 bordered-column">
      <img
        src="oreo_1.jpg"
        class="img-responsive uniform-image"
        alt="Oreo"
      />
    </div>
    <div class="col-sm-4 bordered-column">
      <img src="oreo_2.jpg" class="img-responsive uniform-image" alt="Oreo" />
    </div>
    <div class="col-sm-4 bordered-column">
      <img
        src="oreo_3.jpg"
        class="img-responsive uniform-image"
        alt="Oreo"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 bordered-column">
      <img
        src="oreo_4.jpg"
        class="img-responsive uniform-image"
        alt="Oreo"
      />
    </div>
    <div class="col-sm-4 bordered-column">
      <img src="oreo_5.jpg" class="img-responsive uniform-image" alt="Oreo" />
    </div>
    <div class="col-sm-4 bordered-column">
      <img
        src="oreo_6.jpg"
        class="img-responsive uniform-image"
        alt="Oreo"
      />
    </div>
  </div>
</div>

<div class="container-fluid" style="padding-top: 50px; padding-bottom: 30px;">
  <a
    class="btn btn-primary"
    href="/"
    role="button"
    style="margin: auto; padding: 10px; font-size: 20px"
    >Home</a
  >
  <a
    class="btn btn-primary"
    href="/logout"
    role="button"
    style="margin: auto; padding: 10px; font-size: 20px"
    >Log out</a
  >
</div>
<%- include("templates/footer") %>